body {
  font-size: 1rem;
  font-family: sans-serif;
}

header {
  /* Fondo del header y tamaños */
  background-color: rgb(0, 115, 199);
  margin-top: -10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 110px;
}

#img_header img {
  /* Moviendo el logo y dandole tamaño */
  position: absolute;
  top: 4%;
  left: 6%;
  height: 65px;
  width: 70px;
}

#eslogan {
  /* posición del eslogan, color y tamaño */
  color: white;
  font-size: 1.1rem;
  position: absolute;
  left: 30%;
}

.busc_enferm_header {
  /* Posición de la caja de busqueda */
  position: absolute;
  top: 10%;
  left: 30%;
}

.busc_enferm_header input {
  /* Tamaño de la caja de busqueda */
  height: 30px;
  width: 70%;
}

#lupa_busc {
  /* Tamaño de la lupa de busqueda, la posición, color de fondo y radio de los bordes */
  background: #0083ac;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 72.2%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav {
  /* Color del fondo de la barra de navegación y tamaño */
  background-color: #0083ac;
  padding: 1px;
  margin-top: -10px;
}

.nav_paginas ul {
  /* Dandole la forma de barra de navegación y centrandolo */
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav_paginas a {
  /* Color de las letras, tamaño, quitando decoración y también distanciandolos */
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
}

.nav_paginas a:hover {
  /* Color de texto en el nav con el puntero arriba */
  background-color: rgba(0, 109, 199, 0.45);
  color: rgb(74, 217, 255);
}

footer {
  /* Fondo en el footer y tamaño */
  background-color: rgb(0, 115, 199);
  padding-bottom: 40px;
  padding-top: 30px;
}

.negrita_inf {
  /* Negrita en los titulos de los footer */
  margin: auto;
  font-weight: bold;
  list-style: none;
}

.texto_al_pie li a {
  /* Color del texto de los li a (Enlaces) en el footer */
  color: white;
  text-decoration: none;
}

.texto_al_pie li a:hover {
  /* Color del texto de los li a (Enlaces) en el footer con el puntero arriba */
  color: rgb(74, 217, 255);
}

.texto_al_pie li {
  /* Color del texto en el footer de los li */
  color: white;
}

.texto_al_pie ol {
  /* Sacandole los números a la lista */
  list-style: none;
}

.texto_al_pie {
  /* implementando flex */
  display: flex;
  flex-direction: column;
  align-items: center;
}

 /* Dejando todos los elementos igual posicionados */
.menu_inferior li {
  margin-left: -58%;
}

.redes_inferior li {
  margin-left: -79%;
}

.img_redes img {
  /* Altura y ancho de las imagenes de las redes en el footer */
  height: 30px;
  width: 30px;
}

#titulo {
  /* Centrando el título (Hospital), dandole color, color de fondo, dandole borde al fondo, tamaño y moviendolo */
  text-align: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  background: rgb(39, 130, 175);
  width: 120px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.text_enfermedades {
  /* Ocultando parte del html en mobile */
  display: none;
}

.imgs_enfermedades a {
  /* Cambiandoles el color a los enlaces */
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 20px;
}

.imgs_enfermedades a:hover {
  /* Cambiando el color al pasar el cursor */
  color: rgb(103, 218, 249);
}

.text_enfMobile li {
  /*Dandole un fondo con borde a cada uno particularmente y centrando texto */
  background-color: #0083ac;
  border-radius: 10px;
  padding-top: 5px;
  width: 150px;
  padding-bottom: 5px;
  text-align: center;
  margin: auto;
  margin-top: -14%;
  margin-bottom: 10%;
}

.text_vacMobile li {
  /* Dandole un fondo con borde a cada uno particularmente y centrando texto */
  background-color: #0083ac;
  border-radius: 10px;
  width: 100px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -14%;
  text-align: center;
  margin-bottom: 10%;
}

.text_mapMobile li {
  /* Dandole un fondo con borde a cada uno particularmente y centrando texto */
  background-color: #0083ac;
  border-radius: 10px;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: auto;
  margin-top: -14%;
  margin-bottom: -20%;
}

.text_enfermedades a:hover {
  /* Cambiando el color al pasar el cursor */
  color: rgb(103, 218, 249);
}

.imgs_enfermedades {
  /* implementando flex */
  display: flex;
  flex-direction: column;
}

.imgs_enfermedades img {
  /* Tamaño de las imagenes */
  height: 100px;
}

#img_enf {
  /* Centrando la imagen y moviendola */
  margin: auto;
  margin-bottom: 15%;
}

#img_vac {
  /* Centrando la imagen y moviendola */
  margin: auto;
  margin-bottom: 15%;
}

#img_map {
  /* Centrando la imagen y moviendola */
  margin: auto;
  margin-bottom: 15%;
}

.sec_num {
  /* Poniendo el fondo, los margenes, color del texto de la parte del telefono y flex */
  display: flex;
  flex-direction: column;
  background: #0083ac;
  margin-top: 50px;
  margin-bottom: 20px;
  color: white;
}

#text_sint {
  /* Moviendo el texto y cambiando la fuente */
  margin: auto;
  margin-top: 7%;
  font-size: 20px;
}

#text_tel {
  /* Moviendo el texto y cambiando la fuente */
  font-size: 50px;
  margin: auto;
  margin-top: 5%;
}

#text_num {
  /* Moviendo el texto y cambiando la fuente */
  font-size: 90px;
  margin: auto;
  margin-top: 10%;
}

#img_tel {
  /* Dandole el tamaño y el lugar */
  height: 120px;
  margin: auto;
  margin-top: -2%;
}

#sliderCovid {
  /* Color del enlace en el slider */
  color: #0083ac
}

.container p {
  /* Cambiando tamaño de la letra */
  font-size: 12px;
}
